## Some imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import numpy as np

In [4]:
df = pd.read_csv(r"data\player_ELO.csv")
df.head()

         Player   ELO    Role      Form  LastPlayed  DaysSinceLastMatch
0    SL Malinga  1838  bowler  0.312202  2024-04-07                 340
1      CV Varun  1804  bowler  0.252937  2025-03-12                   1
2      MA Starc  1794  bowler  0.305210  2025-03-12                   1
3     SB Jakati  1780  bowler  0.197289  2023-10-24                 506
4  DE Bollinger  1776  bowler  0.312146  2022-12-13                 821

In [7]:
df['LastPlayed'] = pd.to_datetime(df['LastPlayed'])

## Some basic analysis on data

In [12]:
df.shape

(741, 6)

In [18]:
df.isna().sum()

Player                0
ELO                   0
Role                  0
Form                  0
LastPlayed            0
DaysSinceLastMatch    0
dtype: int64

In [19]:
df.duplicated().sum()

0

In [20]:
df.describe()

,ELO,Form,LastPlayed,DaysSinceLastMatch
count,741.000000,741.000000,741,741.000000
mean,1554.946019,0.151929,2024-01-18 18:39:21.133603328,419.222672
min,1388.000000,0.000000,2022-03-14 00:00:00,1.000000
25%,1497.000000,0.088279,2023-02-20 00:00:00,42.000000
50%,1537.000000,0.153987,2024-03-29 00:00:00,349.000000
75%,1605.000000,0.217376,2025-01-30 00:00:00,752.000000
max,1838.000000,0.610000,2025-03-12 00:00:00,1095.000000
std,75.758452,0.087259,NaN,369.938593

## Basic analysis functions:-

In [22]:
def analyze_elo_distribution():
    """Analyze the distribution of ELO ratings"""
    print("ELO Rating Analysis:")
    print(f"Mean ELO: {df['ELO'].mean():.2f}")
    print(f"Median ELO: {df['ELO'].median():.2f}")
    print(f"Min ELO: {df['ELO'].min()}")
    print(f"Max ELO: {df['ELO'].max()}")
    print(f"ELO Standard Deviation: {df['ELO'].std():.2f}")
    
    print("\nTop 5 players by ELO:")
    print(df.sort_values('ELO', ascending=False)[['Player', 'ELO', 'Role']].head())
    
    # Role-based ELO analysis
    print("\nELO statistics by role:")
    print(df.groupby('Role')['ELO'].agg(['count', 'mean', 'median', 'min', 'max', 'std']))

In [24]:
analyze_elo_distribution()

ELO Rating Analysis:
Mean ELO: 1554.95
Median ELO: 1537.00
Min ELO: 1388
Max ELO: 1838
ELO Standard Deviation: 75.76

Top 5 players by ELO:
         Player   ELO    Role
0    SL Malinga  1838  bowler
1      CV Varun  1804  bowler
2      MA Starc  1794  bowler
3     SB Jakati  1780  bowler
4  DE Bollinger  1776  bowler

ELO statistics by role:
             count         mean  median   min   max        std
Role
all-rounder     85  1553.329412  1537.0  1426  1738  65.185338
batsman        293  1548.337884  1529.0  1388  1756  72.924655
bowler         354  1562.169492  1555.0  1388  1838  80.324340
unknown          9  1501.222222  1490.0  1486  1525  16.991011

## Form vs ELO?

In [27]:
def analyze_form_vs_elo():
    """Analyze relationship between form and ELO"""
    correlation = df['ELO'].corr(df['Form'])
    print(f"\nCorrelation between Form and ELO: {correlation:.4f}")
    
    # Group players into form categories
    df['FormCategory'] = pd.qcut(df['Form'], 3, labels=['Low', 'Medium', 'High'])
    print("\nAverage ELO by Form Category:")
    print(df.groupby('FormCategory')['ELO'].mean().sort_values(ascending=False))

In [28]:
analyze_form_vs_elo()

Correlation between Form and ELO: 0.4768

Average ELO by Form Category:
FormCategory
High      1598.097166
Medium    1556.882591
Low       1509.858300
Name: ELO, dtype: float64

C:\Users\vampi\AppData\Local\Temp\ipykernel_12876\3152412498.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('FormCategory')['ELO'].mean().sort_values(ascending=False))

## Active and inactive players

In [31]:
def active_vs_inactive():
    """Compare active vs inactive players"""
    # Define active as played within last 30 days
    df['Status'] = df['DaysSinceLastMatch'].apply(lambda x: 'Active' if x <= 100 else 'Inactive')
    
    print("\nActive vs Inactive Players:")
    print(f"Active players: {df[df['Status'] == 'Active'].shape[0]}")
    print(f"Inactive players: {df[df['Status'] == 'Inactive'].shape[0]}")
    
    print("\nAverage ELO by player status:")
    print(df.groupby('Status')['ELO'].mean())
    
    print("\nAverage Form by player status:")
    print(df.groupby('Status')['Form'].mean())

In [32]:
active_vs_inactive()

Active vs Inactive Players:
Active players: 250
Inactive players: 491

Average ELO by player status:
Status
Active      1583.536000
Inactive    1540.389002
Name: ELO, dtype: float64

Average Form by player status:
Status
Active      0.171625
Inactive    0.141900
Name: Form, dtype: float64

In [45]:
df2 = df[df['DaysSinceLastMatch'] <= 100]
with open('Recent_ELO.csv', 'w') as f:
    f.write(df2.to_csv())

## Most valuable players based on insights and role and current

In [ ]:
active_players = df[df['DaysSinceLastMatch'] <= 30]
if not active_players.empty:
    top_active = active_players.sort_values('ELO', ascending=False).head(3)
    print("\nTop 3 active players by ELO:")
    for i, (_, player) in enumerate(top_active.iterrows(), 1):
        print(f"{i}. {player['Player']} (ELO: {player['ELO']}, Role: {player['Role']}, Form: {player['Form']:.3f})")

Top 3 active players by ELO:
1. CV Varun (ELO: 1804, Role: bowler, Form: 0.253)
2. MA Starc (ELO: 1794, Role: bowler, Form: 0.305)
3. Shubman Gill (ELO: 1756, Role: batsman, Form: 0.226)

In [44]:
low_elo_high_form = df[(df['ELO'] < df['ELO'].median()) & (df['Form'] > df['Form'].median())]

print("\nPlayers with lower ELO but above-median form (potential risers):")
if not low_elo_high_form.empty:
    for _, player in low_elo_high_form.iterrows():
        print(f"- {player['Player']} (ELO: {player['ELO']}, Form: {player['Form']:.3f})")
else:
    print("None identified")

Players with lower ELO but above-median form (potential risers):
- PJ Sangwan (ELO: 1534, Form: 0.204)
- HV Patel (ELO: 1534, Form: 0.274)
- AP Dole (ELO: 1532, Form: 0.307)
- Arshdeep Singh (ELO: 1532, Form: 0.234)
- J Botha (ELO: 1532, Form: 0.172)
- SMSM Senanayake (ELO: 1532, Form: 0.280)
- KA Maharaj (ELO: 1532, Form: 0.246)
- WD Parnell (ELO: 1532, Form: 0.250)
- Harmeet Singh (ELO: 1532, Form: 0.221)
- D Jansen (ELO: 1531, Form: 0.250)
- SB Wagh (ELO: 1531, Form: 0.157)
- T Thushara (ELO: 1530, Form: 0.349)
- Mohammad Nabi (ELO: 1530, Form: 0.185)
- KC Sangakkara (ELO: 1529, Form: 0.165)
- V Pratap Singh (ELO: 1528, Form: 0.233)
- AC Voges (ELO: 1528, Form: 0.154)
- KP Pietersen (ELO: 1528, Form: 0.210)
- YA Abdulla (ELO: 1528, Form: 0.244)
- DA Warner (ELO: 1528, Form: 0.273)
- PP Chawla (ELO: 1527, Form: 0.218)
- Umar Gul (ELO: 1526, Form: 0.405)
- G Coetzee (ELO: 1526, Form: 0.211)
- Ankit Soni (ELO: 1525, Form: 0.168)
- DJ Muthuswami (ELO: 1525, Form: 0.158)
- BE Hendricks (ELO: 1524, Form: 0.288)
- RG Sharma (ELO: 1523, Form: 0.184)
- D du Preez (ELO: 1523, Form: 0.339)
- AJ Hosein (ELO: 1523, Form: 0.160)
- NLTC Perera (ELO: 1523, Form: 0.163)
- P Negi (ELO: 1522, Form: 0.190)
- JW Hastings (ELO: 1522, Form: 0.246)
- TH David (ELO: 1521, Form: 0.182)
- O Thomas (ELO: 1520, Form: 0.240)
- B Laughlin (ELO: 1520, Form: 0.188)
- PD Collingwood (ELO: 1520, Form: 0.195)
- D Wiese (ELO: 1518, Form: 0.192)
- SJ Srivastava (ELO: 1518, Form: 0.199)
- AS Rajpoot (ELO: 1518, Form: 0.160)
- KP Appanna (ELO: 1516, Form: 0.170)
- NK Patel (ELO: 1513, Form: 0.158)
- C Sakariya (ELO: 1513, Form: 0.221)
- KM Asif (ELO: 1513, Form: 0.186)
- HM Amla (ELO: 1512, Form: 0.217)
- Arjun Tendulkar (ELO: 1512, Form: 0.176)
- CL White (ELO: 1511, Form: 0.168)
- S Sandeep Warrier (ELO: 1511, Form: 0.163)
- Mukesh Choudhary (ELO: 1509, Form: 0.216)
- VY Mahesh (ELO: 1508, Form: 0.245)
- KC Cariappa (ELO: 1508, Form: 0.160)
- RR Rossouw (ELO: 1508, Form: 0.166)
- M Ashwin (ELO: 1507, Form: 0.175)
- OA Shah (ELO: 1505, Form: 0.163)
- IS Sodhi (ELO: 1504, Form: 0.246)
- SM Katich (ELO: 1502, Form: 0.156)
- A Kamboj (ELO: 1502, Form: 0.166)
- A Flintoff (ELO: 1499, Form: 0.180)
- NB Singh (ELO: 1499, Form: 0.231)
- SS Cottrell (ELO: 1499, Form: 0.213)
- Karanveer Singh (ELO: 1497, Form: 0.287)
- RS Hangargekar (ELO: 1497, Form: 0.246)
- GC Viljoen (ELO: 1494, Form: 0.213)
- J Theron (ELO: 1494, Form: 0.245)
- Basil Thampi (ELO: 1493, Form: 0.200)
- D Pretorius (ELO: 1492, Form: 0.207)
- Mohammad Asif (ELO: 1489, Form: 0.194)
- DG Nalkande (ELO: 1488, Form: 0.182)
- AD Mascarenhas (ELO: 1488, Form: 0.287)
- Joginder Sharma (ELO: 1486, Form: 0.165)
- S Narwal (ELO: 1485, Form: 0.160)
- C Nanda (ELO: 1484, Form: 0.193)
- BAW Mendis (ELO: 1484, Form: 0.205)
- V Kaverappa (ELO: 1482, Form: 0.300)
- Tilak Varma (ELO: 1482, Form: 0.251)
- R Rampaul (ELO: 1481, Form: 0.298)
- Mashrafe Mortaza (ELO: 1478, Form: 0.202)
- PH Solanki (ELO: 1476, Form: 0.225)
- Ashutosh Sharma (ELO: 1474, Form: 0.198)
- SS Mundhe (ELO: 1473, Form: 0.279)
- RJW Topley (ELO: 1470, Form: 0.190)
- DAJ Bracewell (ELO: 1464, Form: 0.610)
- R Ninan (ELO: 1461, Form: 0.250)
- JR Hopes (ELO: 1456, Form: 0.159)
- M Ntini (ELO: 1455, Form: 0.219)
- A Uniyal (ELO: 1455, Form: 0.226)
- AF Milne (ELO: 1453, Form: 0.193)
- LPC Silva (ELO: 1452, Form: 0.164)
- JJ van der Wath (ELO: 1450, Form: 0.182)
- AB Dinda (ELO: 1450, Form: 0.225)
- BJ Rohrer (ELO: 1442, Form: 0.202)
- Atharva Taide (ELO: 1439, Form: 0.190)
- Shoaib Ahmed (ELO: 1438, Form: 0.165)
- Fazalhaq Farooqi (ELO: 1436, Form: 0.179)
- A Choudhary (ELO: 1434, Form: 0.212)
- N Thushara (ELO: 1431, Form: 0.208)
- S Badree (ELO: 1431, Form: 0.202)
- AC Thomas (ELO: 1423, Form: 0.234)
- JE Taylor (ELO: 1423, Form: 0.221)
- Ankit Sharma (ELO: 1423, Form: 0.156)
- Naman Dhir (ELO: 1421, Form: 0.159)
- Anureet Singh (ELO: 1421, Form: 0.185)
- TS Mills (ELO: 1413, Form: 0.189)
- Shahid Afridi (ELO: 1407, Form: 0.217)
- R Sharma (ELO: 1396, Form: 0.229)